# Database Snapshots
dump.my_rdb
*.rdb

# Executables & Binaries
my_redis_server
*.exe
*.out
build/
bin/

# Object Files
*.o
*.obj

# IDE files
.vscode/
.idea/
*.suo
*.user

# Operating System Files
.DS_Store
Thumbs.db